* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: rgb(34, 34, 34);
}

.header {
    background: rgba(255, 196, 0, 0.822);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    padding: 10px 20px;
}

.header .logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    width: auto;
    cursor: pointer;
}

.header .nav-link li{
    display: inline-block;
    padding: 0 10px;
}

.header .nav-link a{
    text-decoration: none;
    color: whitesmoke;
}

#hero{
    padding: 50px 170px 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(order-delivery-abstract-seamless-pattern-editable-shapes-on-yellow-background-trendy-texture-with-cartoon-color-icons-design-with-graphic-elements-for-interior-fabric-website-decoration-vector.webp);
    background-size: 100%;
    
}

.hero-info{
    max-width: 700px;
}

.hero-info h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 46px;
    color: white;
}

.hero-info h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 10px;
}

.hero-info p{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 30px;
}

.hero-img img{
    height: 400px;
    width: auto;
}


